@model LatestContentViewModel

@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-1 mb-4">FindMusic</h1>
	<h3 class="dispaly-5">Get the Tunes of your Desired Content</h3>
	@* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

@* ============= Movies ============= *@
@if (Model.Movies.Any())
{
	<div class="mt-5">
		<h2 class="text-decoration-underline">Latest Movies</h2>
		<div class="mt-4">
			@foreach (var movie in Model.Movies)
			{
				<div class="card row mb-3 mx-1 d-inline-block">
					<div class="card-body p-0">
						<img class="card-img-top" style="height: 300px; width: 210px;" src="@movie.PhotoPath" alt="@movie.Name"
							 asp-append-version="true">
					</div>
					<div class="card-footer">
						<div class="card-title text-center">
							<a asp-action="Details" asp-controller="Movie" asp-route-slug="@movie.Slug">@movie.Name</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}

@* ============= Series ============= *@
@if (Model.Series.Any())
{
	<div class="mt-5">
		<h2 class="text-decoration-underline">Latest Series</h2>
		<div class="mt-4">
			@foreach (var series in Model.Series)
			{
				<div class="card row mb-3 mx-1 d-inline-block" style="width: 211px;">
					<div class="card-body p-0">
						<img class="card-img-top" style="height: 300px; width: 210px;" src="@series.PhotoPath" alt="@series.Name"
							 asp-append-version="true">
					</div>
					<div class="card-footer" style="">
						<div class="card-title text-center">
							<a asp-action="Details" asp-controller="Series" asp-route-slug="@series.Slug">@series.Name</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}