@model FindMusic.ViewModels.EpisodeViewModels.EpisodeDetailsViewModel

@{
	var title = Model.Series.Name + " S" + Model.SeasonNumber + " E" + Model.Number;
	ViewData["Title"] = title;
}

<div class="container mt-3">
	<h1 class="text-center">
		<b>Episode Details</b>
	</h1>

	<div class="card mb-5">
		<div class="card-body row">
			<img class="card-img-top col-6" style="height: 300px; width: 230px" src="@Model.Series.Poster.PhotoPath"
				 alt="@Model.Series.Name" asp-append-version="true" />
			<div class="col-6">
				<h4 class="card-title">Season: @Model.SeasonNumber</h4>
				<h4 class="card-title">
					Episode No: @Model.Number<br>
					Episode Name: @Model.Name
				</h4>
				<p>
					<h6>
						<i>Added By</i>:
						<partial name="_Contributor" model="Model.Contributor" />
					</h6>
				</p>
			</div>
		</div>
		<div class="card-footer">
			<form method="post" asp-action="Delete" asp-route-id="@Model.Id">
				<a asp-action="Update" asp-route-seriesSlug="@Model.Series.Slug"
				   asp-route-seasonNumber="@Model.SeasonNumber" asp-route-episodeNumber="@Model.Number"
				   class="btn btn-primary" style="width: 80px">Update</a>

				<span id="confirmDeleteSpan_@Model.Id" style="display: none">
					<span>Are you sure you want to delete?</span>
					<button type="submit" class="btn btn-danger">Yes</button>
					<a href="#" class="btn btn-primary" onclick="confirmDelete('@Model.Id', false)">No</a>
				</span>

				<span id="deleteSpan_@Model.Id">
					<a href="#" class="btn btn-danger" onclick="confirmDelete('@Model.Id', true)">Delete</a>
				</span>
			</form>
		</div>
	</div>

	@* ============== Timestamp ============== *@
	<div class="mt-5">
		@if (Model.Timestamps != null && !Model.Timestamps.Any())
		{
			<div class="card">
				<div class="card-header">
					No Timestamp created yet
				</div>
				<div class="card-body">
					<h5 class="card-title">Use the button below to create a Timestamp</h5>
					<a asp-action="Create" asp-controller="Timestamp" asp-route-id="@Model.Id" asp-route-type="episode"
					   class="btn btn-primary" style="width: auto">Add Timestamp</a>
				</div>
			</div>
		}
		else
		{
			<a asp-action="Create" asp-controller="Timestamp" asp-route-id="@Model.Id" asp-route-type="episode"
			   class="btn btn-primary mb-4" style="width: auto">Add Timestamp</a>

			if (Model.Timestamps != null)
			{
				foreach (var timestamp in Model.Timestamps)
				{
					<div class="card mt-4">
						<div class="card-header fw-bold">
							<partial name="_Contributor" model="timestamp.Contributor" />
							@timestamp.Hour h : @timestamp.Minute m : @timestamp.Second s
						</div>

						<div class="card-body">
							Tracks
						</div>
						<div class="card-footer">
							<form method="post">
								<a class="btn btn-primary">Modify</a>

								<span id="confirmDeleteSpan_@timestamp.Id" style="display: none">
									<span>Are you sure you want to delete?</span>
									<button type="submit" class="btn btn-danger">Yes</button>
									<a href="#" class="btn btn-primary" onclick="confirmDelete('@timestamp.Id', false)">No</a>
								</span>

								<span id="deleteSpan_@timestamp.Id">
									<a href="#" class="btn btn-danger" onclick="confirmDelete('@timestamp.Id', true)">Delete</a>
								</span>
							</form>
						</div>
					</div>
				}
			}
		}
	</div>
</div>

@section Scripts
{
	<script src="~/js/site.js"></script>
}