@model FindMusic.ViewModels.SeasonViewModels.SeasonDetailsViewModel

@{
	var title = Model.Series.Name + " S" + Model.Number;
	ViewData["Title"] = title;
}

<div class="container mt-3">
	<h1 class="text-center">
		<b>Season Details</b>
	</h1>

	<div class="card mb-5">
		<div class="card-body row">
			<img class="card-img-top col-6" src="@Model.Series.Poster.PhotoPath" alt="@Model.Series.Name"
				 asp-append-version="true" style="height: 300px; width: 230px" />
			<div class="col-6">
				<h4 class="card-title">Season: @Model.Number</h4>
				<h4 class="card-title">Year: @Model.Year</h4>
				<p>
					<h6>
						<i>Added By</i>:
						<partial name="_Contributor" model="Model.Contributor" />
					</h6>
				</p>
			</div>
		</div>
		<div class="card-footer">
			<form method="post" asp-action="Delete" asp-route-id="@Model.Id">
				<a asp-action="Update" asp-route-seriesSlug="@Model.Series.Slug" asp-route-number="@Model.Number"
				   class="btn btn-primary" style="width: 80px">Update</a>

				<span id="confirmDeleteSpan_@Model.Id" style="display: none">
					<span>Are you sure you want to delete?</span>
					<button type="submit" class="btn btn-danger">Yes</button>
					<a href="#" class="btn btn-primary" onclick="confirmDelete('@Model.Id', false)">No</a>
				</span>

				<span id="deleteSpan_@Model.Id">
					<a href="#" class="btn btn-danger" onclick="confirmDelete('@Model.Id', true)">Delete</a>
				</span>
			</form>
		</div>
	</div>

	@* ============== Episode ============== *@
	<div class="mt-5">
		@if (Model.Episodes == null || !Model.Episodes.Any())
		{
			<div class="card">
				<div class="card-header">
					No Episode created yet
				</div>
				<div class="card-body">
					<h5 class="card-title">Use the button below to create an Episode</h5>
					<a asp-action="Create" asp-controller="Episode" asp-route-seasonNumber="@Model.Number"
					   asp-route-seriesSlug="@Model.Series.Slug" class="btn btn-primary" style="width: auto">
						Add Episode
					</a>
				</div>
			</div>
		}
		else
		{
			<a asp-action="Create" asp-controller="Episode" asp-route-seasonNumber="@Model.Number"
			   asp-route-seriesSlug="@Model.Series.Slug" class="btn btn-primary mb-3" style="width: auto">
				Add Episode
			</a>
			<div class="mt-4">
				@foreach (var episode in Model.Episodes)
				{
					<a asp-action="Details" asp-controller="Episode" asp-route-seriesSlug="@Model.Series.Slug"
					   asp-route-seasonNumber="@Model.Number" asp-route-episodeNumber="@episode">
						<div class="box my-4">
							Episode @episode
						</div>
					</a>
				}
			</div>
		}
	</div>
</div>

@section Scripts
{
	<script src="~/js/site.js"></script>
}